{% extends "base.html" %} {% block title %}Home{% endblock %}
 {% block content%}

 <div class="auth_form container d-flex justify-content-center shadow p-3 mb-5 bg-white rounded">

    <form method="POST">
        <div class="form-group h-100 d-inline-block" >
          <label for="exampleInputEmail1" style="padding: 2rem;"> <h2 style="font-family: Cursive;">Enter Your Secret Key To Authenticate</h2> </label>
          <input type="key" class="form-control" id="authentication_key" name="authentication_key" placeholder="Enter Auth Key" style="height: 4rem;">
          <button type="submit" class="btn btn-primary" style="margin-top: 1rem;">Submit</button>
        </div>
      </form>


 </div>

 
 
 
 
 
 {% endblock%}